@model IEnumerable<SpeedTestStats.BL.Models.StatRow>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>@Model.Count() total count</p>
</div>

<table style="width: 100%">
    <thead>
    <tr>
        <th>Time</th>
        <th>Ping</th>
        <th>Download</th>
        <th>Upload</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderByDescending(x => x.DataOra))
    {
        <tr>
            <td>@item.DataOra</td>
            <td>@item.Ping ms</td>
            <td>@item.Download Mbit/s</td>
            <td>@item.Upload Mbit/s</td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>Avg.</th>
        <th>@((Model.Select(x => x.Ping).Average() ?? 0).ToString("N")) ms</th>
        <th>@((Model.Select(x => x.Download).Average() ?? 0).ToString("N")) Mbit/s</th>
        <th>@((Model.Select(x => x.Upload).Average() ?? 0).ToString("N")) Mbit/s</th>
    </tr>
    </tfoot>
</table>